@{
    ViewData["Title"] = "Contato";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destino</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <section class="wrap">
     
        </header>
        <main class="contato">
          
            <h2 class="pagina-titulo">Contato</h2>
            <img src="../img/contato.jpg" />
            <div class="tel">
              <img  src="../img/tel.png"/>
            </div><h3>21 2121-2222</h3>
            
            
            <form method="post">
               <div class="campo">
                 <label for="nome">Nome:</label>
                 <input type="text" name="nome" id="nome" />
               </div>
               <div class="campo">
                 <label for="email">E-Mail:</label>
                 <input type="email" name="email" id="email" />
               </div>
               <div class="campo">
                 <label for="assunto">Assunto:</label>
                 <input type="text" name="assunto" id="assunto" />
               </div>
               <div class="campo">
                 <label for="mensagem">Mensagem:</label>
                 <textarea name="mensagem" id="mensagem"></textarea>
               </div>
               <button type="submit">Enviar</button>
            </form>
            
        </main>
    </section>

</body>


