@{
    ViewData["Title"] = "Destino";
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destino</title>
   

</head>

<body>
    <section class="wrap">
      
        </header>
        <main>
            <h2 class="pagina-titulo">Destino</h2>
            <div class="destinos">
                <div class="destino">
                    <img src="../img/disney.png" alt="disney">
                    <h3>Disney</h3>
                    <p>Disneylândia,é o primeiro de dois parques temáticos construídos no Disneyland Resort em Anaheim, California, inaugurado em 17 de julho de 1955. É o único parque temático projetado e construído sob a supervisão direta de Walt Disney. Originalmente, era a única atração da propriedade; seu nome oficial foi alterado para Disneyland Park para diferenciá-lo do complexo em expansão na década de 1990. Foi o primeiro parque temático da Disney.</p>
                </div>
                <div class="destino">
                    <img src="../img/egito.jpg" alt="egito">
                    <h3>Egito</h3>
                    <p>O país tem uma das mais longas histórias entre qualquer outra nação, traçando sua herança até o VI ou IV milênio a.C. Considerado um berço da civilização, o Egito Antigo viu alguns dos primeiros desenvolvimentos da escrita, agricultura, urbanização, religião organizada e governo central.[9] Monumentos icônicos como a Necrópole de Gizé e sua Grande Esfinge, bem como as ruínas de Mênfis, Tebas, Carnaque e do Vale dos Reis, refletem este legado e continuam a ser um foco significativo de interesse científico, histórico e turístico. A longa e rica herança cultural do Egito é parte integrante de sua identidade nacional, que muitas vezes assimilou várias influências estrangeiras, como gregos, persas, romano, árabes, otomanos e núbios. O Egito foi um dos primeiros e importantes centros do cristianismo, mas foi amplamente islamizado no século VII e continua sendo um país predominantemente muçulmano, embora com uma significativa minoria cristã.</p>
                </div>
                <div class="destino">
                    <img src="../img/fernando_noronha.jpg" alt="fernando de noronha">
                    <h3>Fernando de Noronho</h3>
                    <p>Fernando de Noronha é um arquipélago brasileiro do estado de Pernambuco. Formado por 21 ilhas, ilhotas e rochedos de origem vulcânica, ocupa uma área total de 26 km² — dos quais 17 km² são da ilha principal — e se situa no Oceano Atlântico a nordeste do Brasil continental, distando 545 km da capital pernambucana, Recife. O centro comercial da ilha é o núcleo urbano de Vila dos Remédios. A administração do Parque Nacional está atualmente a cargo do Instituto Chico Mendes de Conservação da Biodiversidade (ICMBio).</p>
                </div>
                <div class="destino">
                    <img src="../img/japao.jpg" alt="japão">
                    <h3>Japão</h3>
                    <p>O país é um arquipélago de 6 852 ilhas,cujas quatro maiores são Honshu, Hokkaido, Kyushu e Shikoku, representando em conjunto 97% da área terrestre nacional. A maior parte das ilhas é montanhosa, com muitos vulcões como, por exemplo, os Alpes japoneses e o Monte Fuji. O Japão possui a décima maior população do mundo, com cerca de 128 milhões de habitantes. A Região Metropolitana de Tóquio, que inclui a capital de facto de Tóquio e várias prefeituras adjacentes, é a maior área metropolitana do mundo, com mais de 30 milhões de habitantes.
                    Conhecida como a capital dos animes o Pais é conhecido por seus animes de sucesso como: Dragon Ball, Cavaleiros dos Zodíacos e o famoso Capitan Tsubasa conhecido no Brasil como Super Campões.
                    </p>
                </div>
                <div class="destino">
                    <img src="../img/noroega.jpg" alt="noruega">
                    <h3>Noruega</h3>
                    <p>A parte continental do país divide fronteira a leste com a Suécia e ao norte com a Finlândia e a Rússia. O Reino Unido e as Ilhas Faroe estão a oeste, através do Mar do Norte, a Islândia e a Groenlândia estão a oeste, através do mar da Noruega, e a Dinamarca fica próxima ao extremo sul do país, através do estreito de Escagerraque. A Ilha Bouvet, no Atlântico sul, e a Ilha de Pedro I, no oceano glacial Antártico, são territórios dependentes (norueguês: Biland) da Noruega,[12] mas não são considerados parte do Reino. A Noruega também reivindica uma parte da Antártida conhecida como Terra da Rainha Maud, uma reivindicação que foi reconhecida pela Austrália, França, Nova Zelândia e Reino Unido.[13] A extensa linha costeira da Noruega, de frente para o oceano Atlântico Norte e para o mar de Barents, é a casa de seus famosos fiordes.</p>
                </div>
                <div class="destino">
                    <img src="../img/paris.jpg" alt="paris">
                    <h3>Paris</h3>
                    <p>Paris (pronúncia em francês: ​paʁi) é a capital e a mais populosa cidade da França, com uma população estimada em 2020 de 2 148 271 habitantes em uma área de 105 quilômetros quadrados. Desde o século XVII, Paris é um dos principais centros de finanças, diplomacia, comércio, moda, ciência e artes da Europa. A cidade de Paris é o centro e sede de governo da região administrativa de Ilha de França, que tem uma população estimada em 2020 de 12 278 210 habitantes, ou cerca de 18% da população da França.Em 2017, a região de Paris teve um PIB de 709 bilhões de euros.De acordo com a Pesquisa de Custo de Vida da Economist Intelligence Unit em 2018, Paris era a segunda cidade mais cara do mundo, atrás apenas da Singapura e à frente de Zurique, Hong Kong, Oslo e Genebra.</p>
                </div>
            </div>
        </main>
    </section>

</body>

