@{
    ViewData["Title"] = "Página Princial";
}


<div class="text-center">
    <h1 class="display-4">Bem vindo a Agência de Viagem</h1>
   
    <h3>Para mais infomações de nossa página html no nosso servidor local acesse <a href="http://127.0.0.1:5500/index.html">Agencia de viagem</a>.</h3>
     <div id="img-direta">
    <img src="~/destino.png" alt="Destino" />
    </div>
   <p>Uma agência de viagens é uma empresa privada que trabalha como intermediária entre seus clientes e determinados prestadores de serviços turísticos (Empresas aéreas, hotéis, cruzeiros…), com o objetivo de vender produtos e serviços relacionados com essas viagens a um preço e com determinadas condições especialmente atrativas em relação com as que se poderia conseguir ao dirigir-se diretamente a esses provedores.

A companhia britânica Cox & Kings, criada em 1758, é a agência de viagem mais antiga do mundo e Thomas Cook um de seus mais notáveis pioneiros, por seu planejamento desde 1841 de excursões religiosas em grupo. Em qualquer caso, as agências de viagem se desenvolveram, sobretudo, a partir dos anos 1920, com o desenvolvimento da aviação comercial.</p>
</div>
<div id="img-esquerda">
    <img src="~/destino.png" alt="Destino" />
</div>
